header {
  background-color: $dark;
  position: sticky;
  top: 0;
  z-index: 11111;
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 1rem;
        font-size: 1.75rem;
        font-weight: 500;
        text-decoration: none;
        @media screen and (max-width: 767.98px) {
          padding: 1rem 0;
        }
      }
      & > ul {
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        list-style: none;
        @media screen and (max-width: 767.98px) {
          position: absolute;
          width: 300px;
          flex-direction: column;
          background-color: lighten($color: $black, $amount: 5);
          top: 100%;
          right: 0;
          border-radius: 0 0 0.25rem 0.25rem;
          opacity: 0;
          pointer-events: none;
          transform-origin: top;
          transform: scaleY(0);
          transition: 0.3s ease-in-out;
          &.active {
            opacity: 1;
            pointer-events: unset;
            transform: scaleY(1);
          }
        }
        & > li {
          position: relative;
          padding: 1rem 0;
          @media screen and (max-width: 767.98px) {
            padding: 0.5rem 0;
          }
          &:hover {
            & > ul {
              opacity: 1;
              pointer-events: unset;
              @media screen and (max-width: 767.98px) {
                transform: scaleY(1);
                position: relative;
              }
              &::before {
                transform: scaleY(1);
              }
            }
            i {
              transform: rotate(180deg);
            }
          }
          & > a,
          & > span {
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            color: $white;
            margin-left: 1rem;
            padding: 0.5rem 0;
            text-transform: capitalize;
            @media screen and (max-width: 767.98px) {
              margin-left: 0;
              padding: 0.5rem 1rem;
              display: block;
            }
            i {
              margin-left: 0.25rem;
              transition: 0.3s ease-in-out;
            }
          }
          & > ul {
            list-style: none;
            margin-bottom: 0;
            position: absolute;
            top: 100%;
            left: 0;
            width: 500px;
            padding: 1rem 0.5rem;
            opacity: 0;
            pointer-events: none;
            transition: 0.3s ease-in-out;
            @media screen and (max-width: 767.98px) {
              position: absolute;
              padding: 0 0.5rem;
              width: 100%;
              z-index: 1;
              transform-origin: top;
              transform: scaleY(0);
            }
            &::before {
              content: '';
              position: absolute;
              z-index: -1;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: lighten($color: $black, $amount: 5);
              border-radius: 0 0 0.5rem 0.5rem;
              transform: scaleY(0);
              transform-origin: top;
              transition: 0.2s ease-in-out;
            }
            li {
              a {
                display: inline-block;
                text-decoration: none;
                color: $white;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                border-radius: 0.5rem;
                &:hover {
                  background-color: lighten($color: $dark, $amount: 5);
                }
                span {
                  text-transform: capitalize;
                }
                small {
                  color: darken($color: $background, $amount: 10);
                  font-size: 85%;
                }
              }
            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      .account-btn {
        .btn {
          margin-right: 0.5rem;
          &:first-child {
            color: $white;
          }
        }
      }
      .essential {
        a {
          color: $white;
          text-decoration: none;
          margin-left: 1rem;
        }
      }
      .menu-btn {
        margin-left: 1rem;
        color: $white;
        cursor: pointer;
        border-radius: 0.25rem;
        border: 1px solid darken($color: $background, $amount: 50);
        padding: 0.25rem 0.5rem;
        @media screen and(min-width:767.98px) {
          display: none;
        }
      }
    }
  }
}
